.footer_box{
    background-color: #2c343e;
    margin-bottom: 20px;
    text-align: center;
}
.footer_link{
    padding-top: 24px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 24px;
    line-height: 125%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #83888f;
}
.footer_picture{
    padding-top: 54px;
    margin-bottom: 24px;
}
.footer_list{
    margin-bottom: 15px;
}
.footer_icon{
    display: flex;
    justify-content: center;
    gap: 27px;
    margin-bottom: 40px;
}
.footer_liIcon{
    padding-top: 23px;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .footer_item{
        display: flex;
        justify-content: center;
        gap: 23px;
    }
}

@media screen and (min-width:992px) {
    .footer_box{
        display: flex;
        justify-content: space-between;
        padding-left: 47px;
        padding-right: 47px;
    }
    .footer_list{
        padding-top: 57px;
    }
    .footer_liIcon{
        padding-top: 47px;
    }

}